.popup__title {
  margin: 0;
  font-size: 24px;
  line-height: 1.21;
  font-weight: 900;
  align-self: flex-start;
}

@media (max-width: 1280px) {
  .popup__title {
    font-size: calc((5vw + 128px)/8);
  }
}
