.popup__input-container {
  padding: 0;
  margin-top: 24px;
  border: none;
  color: #000;
  width: 100%;
}

@media (max-width: 1280px) {
  .popup__input-container {
    margin-top: calc((-35vw + 832px)/16);
  }
}
