.popup__submit-button_inactive {
  background-color: transparent;
  color: black;
  border: 1px solid black;
  opacity: 0.3;
  cursor: default;
}

.popup__submit-button_inactive:hover {
  opacity: 0.3;
}
